// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


//
// Font Sizing
//

$root_font: 10px; //set for rem conversions
$nat_font_sm: 1.2rem;
$nat_font_med: 1.4rem;
$nat_font_lg: 1.5rem;
$nat_font_line_height: 1.8rem;
$nat_font_case_study: 1.8rem;
$scapt_line_height: 1.36rem;
$scapt_height: $scapt_line_height * 4;

//
// Color system
//

$primary: #4EAB36;

$dark_txt: #000;

$gray_bg: #241F21;

$dark_bg: $dark_txt;

$bright_txt: #FFF;

$bright_bg: $bright_txt;

$green_txt: #5CB545;

$green_bg: $green_txt;

$footer_height: 17%;

//
// Case Studies Dimensions
//

$casestudy_padding: 10%;

//
// Transitions
//
$nat_trans_time: 1.0s;
$nat_trans_ease: $nat_trans_time ease-in-out;
$font_easing: color $nat_trans_ease;
$color_filter_light: brightness(0) invert(1);
$color_filter_dark: brightness(0) invert(0);
//
// Case Studies
//
@mixin scapt {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	padding:1.2rem;
	margin:0;
	background-color: $primary;
	color:$bright_txt;
	text-transform: uppercase;
	font-weight:900;
	font-size:$nat_font_med;
	//line-height:1.68rem;
	letter-spacing: .1rem;
	float:none;
	text-align:center;
	align-items:center;
	justify-content: center;
}

@mixin full_scapt{
	display: flex;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: auto;
	padding: 1.7rem;
	margin:0;
	background-color: $gray_bg;
	color:$bright_txt;
	text-transform: uppercase;
	font-weight:900;
	font-size:1.7rem;
	line-height:2.04rem;
	letter-spacing: .1rem;
	float:none;
	text-align:center;
	align-items:center;
	justify-content: center;
}