html,
body{
	height:100%;
	width:100%;
	margin:0;
	font-family: 'Gothic A1', sans-serif;
	font-size: $root_font;
	font-weight:400;
	color:$dark_txt;
	letter-spacing:normal;
}
h1,h2,h3,h4,h5,h6{
	margin-bottom:0;
}
h1,h2{
	text-align:center;
}
h1{
	font-size:$nat_font_lg;
	line-height:1.8rem;
	font-weight:900;
}
h2{
	font-size:1.3rem;
	font-weight:900;
	line-height:1.56rem;
	color:$green_txt;
	margin-top:1.3rem;
	letter-spacing: .1rem;
}
div,p,li,a, input{
	font-size:1.7rem;
	line-height:2.16rem;
	font-weight:100;
}
a{
	transition: $font_easing;
	&:hover{
		text-decoration:none;
		color:$bright_txt;
	}
}
#top-container{
	min-height:100%;
	background-color:$dark_bg;
}
#top-row{
	min-height:100%;
}
.nopadding > div[class^="col"] {
	padding-right:0;
	padding-left:0;
}
#foot-logo a{
	transition: filter $nat_trans_ease;
	-webkit-transition : -webkit-filter $nat_trans_ease;
	&:hover {
		-webkit-filter: $color_filter_light;
		filter: $color_filter_light;
	}
}
#casestudies-foot-wrap{
	font-size:26px;
	color:$green_txt;
	background-color:$dark_bg;
	text-align:center;
	padding-top:10%;
	padding-bottom:10%;
	a{
		font-size:18px;
		display:inline-block;
		padding: 14px 20px 10px;
		margin: 20px 15px 0;
		border: 2px solid $green_bg;
		font-weight:700;
		transition: border 0.5s ease;
		transition: $font_easing;
		&:hover{
			text-decoration:none;
			color:$bright_txt;
			border: 2px solid $bright_bg;
		}
	}
}
#nature-foot{
	padding-top:2%;
	background-color:$dark_bg;
	font-size: 0.8125rem;
	line-height: 1rem;
	text-align:center;
	text-transform:uppercase;
	img{
		margin: 0 auto;
		display: block;
	}
	#foot-menu{
		padding: 1% 0 2%;
		.col{
			max-width:100px;
		}
		a{
			letter-spacing:default;
			font-size:1.2rem;
			line-height:2.36rem;
			font-weight:500;
		}
	}
	#foot-addy{
		color:$dark_txt;
		white-space: nowrap;
		background-color:$green_bg;
		p{
			margin-bottom:0;
			display: inline-block;
			vertical-align: middle;
			letter-spacing:.1rem;
			font-size:1.1rem;
			line-height:3.3rem;
			font-weight:900;
		}
	}
}
#legal-line div{
	text-align:center;
	background-color:$bright_bg;
	color:$green_txt;
	line-height:2rem;
	font-size: 1rem;
	font-weight:300;
	letter-spacing: default;
}
@include media-breakpoint-down(sm) {
	#nature-foot{
		padding-top:5%;
		#foot-addy{
			span{
				display:block;
			}
			.addy_pipe{
				display:none;
			}
			p{
				line-height:$nat_font_med;
				padding:3% 0;
			}

		}
	}
}

.carousel-fade{
	.carousel-item{
		transition-duration:$nat_trans_time;
	}
}
#home-page{
	.jumbotron{
		padding:0;
		margin:0;
		width:100%;
		.carousel-inner{
			a{
				color:#FFF;
			}
		}
		img{
			width:100%;
		}
	}
	.splash-img{
		padding-top: 730px/1366px * 100%; /* fixed aspect ratio for image*/
		display:table;/*FF fix*/
		height: 0;
		width: 100%;
		background-position: center bottom;
		background-size: contain;
		background-repeat: no-repeat;
		background-color:$primary;
	}
	.carousel-indicators{
		position:relative;
	}
	.carousel-caption{
		background-color:rgba(0,0,0,.4);
		right: 80%;
		bottom: 40%;
		left: 0;
		h5{
			font-size: 3rem;
			font-weight:900;
		}
		p{
			font-size: 1.8rem;
		}
	}
	#client-logo-img{
		max-width:80%;
		margin: 1% auto 4% auto;
			img{
				margin:0 auto;
				display:block;
				transition: filter $nat_trans_ease;
				&:hover{
					filter:$color_filter_light;
				}
			}
			a{
				display:block;
			}
			.active{
				img{
					filter:$color_filter_light;
				}
			}
	}
	//individual slide captions
	#Toyota-Scion{
		.carousel-caption{
			a{
				color:$green_txt;
			}
		}
	}
	#client-spotlight{
		h1{
			padding-top:5%;
			color:$green_txt;
			padding-bottom:2%;
			margin-bottom:0;
		}
	}

}
#nature-exp{
	color:$green_txt;
	padding-top: 4%;
	padding-bottom: 4%;
	.col-md-4{
		padding-left:0;
		padding-right:0;
	}
	.home-text-title{

	}
	.textwidget{
		margin: 0 17%;
		text-align:center;
	}
	ul{
		text-align: center;
		list-style-type: none;
		padding-left: 0px;
	}
}
#about-page{
	.content{
		.carousel-item{
			background:$green_bg;
			color:$dark_txt;
			height:100vh;
		}
		.carousel-item:nth-child(odd) {
			background:$dark_bg;
			color:$green_txt;
		}
	}
	h2{
		text-align:center;
	}
	#client-logo-img{
		max-width:100%;
		margin:5% auto;
	}
	#about_services_wrap{
		margin:0 10%;
		.col-sm-3{

		}
		.services_section{
			width:92%;
			margin:0 auto;
		}
		.services_first{
			margin:0 auto 0 0;
		}
		.services_last{
			margin:0 0 0 auto;
		}
		.services_header{
			text-align:left;
			font-size:1.1rem;
			line-height:1.32rem;
		}
		span{
			font-size:1.7rem;
			line-height:2.04rem;
		}
	}

	/*
	#about_services_wrap{
		height:100vh;
		.row{
			height:50%;
			.col-sm-4{
				display: flex;
				justify-content: center;
				align-items: center;
			}
			span{
				display:block;
				width:90%;
				margin:0 auto;
			}
		}
		.row-2{
			.col-sm-4{
				align-items: flex-start;
			}
		}
		
		.services_section{
			width:90%;
			margin:0 auto;
			display:inline-block;
		}

	}
	*/
	.about_header{
		padding-top:10%;
		text-align:center;
		text-transform:uppercase;
	}
	.about_text{
		max-width:85%;
		margin-left:auto;
		margin-right:auto;
		font-size:3.0rem;
		line-height:3.6rem;
	}

	.team-images{
		position:absolute;
		height:100vh;
		padding-right: 0;
		padding-left: 0;
		.row{
			height: 50%;
			overflow:hidden;
			.col-sm-4{
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.team-img{
				//width:100%;
				//height:100%;
			}
		}
		.col-sm-4{
			display: flex;
			justify-content: center;
			align-items: center;
			background-size:cover;
			background-repeat:no-repeat;
			background-position: center center;
		}
	}
	#about-footer-row{
		position: fixed;
		width: 100%;
		bottom: 0;
		display:none;
	}
}
.page-template-work{
	.work-img{
		text-align:center;
		color:$green_txt;
		div{
			margin:10% 0;
		}
	}
}
#case-studies{
	section{
		background-color:$bright_bg;
		padding:$casestudy_padding;
		&#full_img{
			padding:0%;
			.scapt{
				@include full_scapt;
				padding: 1.2rem 1.4rem 1rem;
				font-size:1.7rem;
				line-height:2.04rem;
				letter-spacing: .1rem;

			}
		}
		&.nat_dark_section{
			background-color:$dark_bg;
		}
		&#sub_head{
			padding:0;
			height:100vh;
			display:flex;
			align-items:center;

		}
	}
	h1{
		padding-bottom:$nat_font_line_height;
	}
	p{
		font-size:$nat_font_case_study;
	}
	#testimonial{
		background-color:$dark_bg;
		padding-bottom:0;
		p{
			color: #41AD49;
			font-size: 2.5rem;
			line-height: 3rem;
			font-weight: 200;
		}
		h4{
			//
			font-size: 1.8rem;
			line-height: 5.4rem;
		}
	}
	#effects{
		padding-bottom:2%;
	}
	#effects_alt{
		padding-bottom:5%;
	}
	#effects_graphs{
		padding-top:2%;
		padding-bottom:2%;
	}
	#effects_graphs_alt{
		padding-top:0;
		padding-bottom:0;
	}
	#effects_captions{
		padding-top:2%;
	}
	#effects_captions_alt{
		padding-top:0;
	}
	#effects_videos{
		padding-top:2%;
	}
	.mobile_effects_captions{
		display:none;
	}
	.animated_total{
		font-size:6.6rem;
		line-height:7.9rem;
		font-weight:900;
		text-align:center;
		display:block;
		margin-top:0;
	}
	.impression_txt{
		display:block;
		color:$green_txt;
		text-align:center;
		p{
			font-weight:300;
			font-size:1.8rem;
			line-height:2.16rem;
		}
	}
	.impressions_wrap{
		img{
			filter: $color_filter_dark;
		}
	}
	#brief{
		.brief_details{
			text-align:center;
			width:68%;
			h2{
				&:first-of-type{
					margin-top:0;
				}
				margin-top:1.56rem;
				line-height: 1rem;
			}
			ul{
				list-style-type: none;
				text-align:center;
				padding-left: 0;
				padding-top: .28rem;
				padding-bottom: .35rem;
				li{
					font-size:$nat_font_med;
					line-height:1.68rem;
					font-weight:300;
				}
			}
			span{
				font-size:$nat_font_med;
				line-height:1.68rem;
				font-weight:300;
			}
		}

		.brief_body_txt{
			display:flex;
			align-items:center;
		}
	}
	#data{
		background-color:#FEFEFE;
	}
	#strategy{
	}
	/*
	#services{
		padding-top: 0;
		h2{
			margin-top:0;
		}
		p{
			font-size:1.5rem;
			font-weight:500;
			line-height:1.9rem;
			text-align:center;
			margin-top: .5rem;
			margin: .5rem 1.25rem 0;
		}
	}
	*/
	#asset_header{
		h1{
			padding-bottom:0;
		}
	}
	#assets{
		.scapt{
			@include scapt;
		}
	}
	#deliverables{
		padding:0;
		.kc_single_image p{
			margin:0;
		}
		.kc_row_inner{
			margin-left:0;
			margin-right:0;
		}
		.scapt{
			@include scapt;
		}
		.cs-third-img{
			flex-direction: row;
			flex-wrap: wrap;
			img{
				min-width:100%;
			}
			.scapt{
				@include one_third_scapt;
			}
			/*
			&.long-scapt{
				.scapt{
					width: 74%;
					left: 18%;
					transform: translate(-6%, -100%);
				}
			}
			*/
		}
		.cs-half-img{
			img{
				min-width: 100%;
			}
		}
		.cs-full-img{
			img{
				min-width:100%;
			}
		}
		.media-brand{
			width: 60%;
			margin: 0 auto;
			display: block;
			float: none;
		}

	}
}
@media screen and (max-width:1255px){
	#case-studies #deliverables .cs-third-img .scapt{
		font-size:1rem;
		line-height:1.2rem;
	}
}
@media screen and (max-width:1090px){
#case-studies{
	.animated_total{
		font-size: 4rem;
		line-height: 4.2rem;
	}
	.impression_txt{
		p{
			font-size:1.5rem;
			line-height:1.6rem;
		}
	}
}
}
@media screen and (max-width:800px){
	#about-page{
		.about_text{
			font-size: 2rem;
			line-height: 2.4rem;
		}
		.team-images{
			.row{
				height:25%;
			}
			.col-sm-4{
				width:33.33%;
			}
		}
	}
}
@media screen and (max-width:700px){
#case-studies{
	.animated_total{
		font-size:2.1rem;
		line-height:2.4rem;
	}
	.impression_txt{
		p{
			font-size:1.2rem;
			line-height:1.3rem;
		}
	}
}
}
@media screen and (max-width:767px){
	#case-studies{
		#effects_graphs_alt{
			font-size:1.7rem;
			.kc_column.kc_col-sm-3{
				width:28%;
			}
			.kc_column.kc_col-sm-1{
				width:8%;
			}

		}
		#effects_captions_alt{
			.kc_column.kc_col-sm-3{
				width:28%;
			}
			.kc_column.kc_col-sm-1{
				width:8%;
			}
		}
		.mobile_effects_captions{
			display:block;
		}
		#effects_captions{
			display:none;
		}
		#effects_graphs{
			padding-bottom:10%;
		}
		#brief{
			.brief_body_txt{
				display:block;
			}
			.brief_details{
				margin: 0 auto 32%;
			}
		}
	}
	.kingcomposer .asset_three_col div.kc_column_inner.kc_col-sm-4{
		width: 33.3333%;
	}
}
@media screen and (max-width:455px){
	.kingcomposer .asset_three_col div.kc_column_inner.kc_col-sm-4{
		width: 100%;
	}
}
@include media-breakpoint-down(md) {
	#nature-exp h1{
		padding-top:5%;
	}
}

@include media-breakpoint-down(sm) {
	#home-page{
		#nature-exp h1{
			padding-top:8%;
		}
		.carousel-caption{
			right: 60%;
			bottom: 0;
			left: 0;
		}
	}
	#about-page{
		#client-logo-img{
			margin:0 auto;
			img{
				max-height:55px;
				margin:0 auto;
			}
		}
		h2{
			font-size:1.75rem;
		}
		.about_text{
		}
	}
}
@include media-breakpoint-down(xs) {
	#about-page{
		.about_header{
			padding-top:2%;
		}
		.about_text{
		}
	}
}
@media (max-width:600px) and (min-height:480px){
	.about_text{
		#client-logo-img{
			.col-4{
				max-width:50%;
				flex: 0 0 50%;
			}
		}
	}
}
/*Fullpage Scroll (Vertical Carousel) */
body.page-template-about_full_scroll{
	overflow:hidden;
	#nature-foot-wrap{
		height:auto;
	}

}
#vertCarousel{
	.carousel-item-next.carousel-item-left,
	.carousel-item-prev.carousel-item-right{
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	.carousel-item-next,
	.active.carousel-item-right{
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100% 0);
	}

	.carousel-item-prev,
	.active.carousel-item-left{
		-webkit-transform: translate3d(0,-100%, 0);
		transform: translate3d(0,-100%, 0);
	}
	.carousel-inner,
	.carousel,
	.carousel-item,
	.fill{
		height:100%;
		width:100%;
		background-position:center center;
		background-size:cover;
	}
	.carousel-indicators{
		top:0;
		right:2%;
		bottom:0;
		left:auto;
		padding-left: 0;
		margin-right: 0;
		margin-left: 0;
		flex-direction:column;
		li{
			display:block;
			width:5px;
			height:28px;
			margin-bottom:5px;
			border:1px solid #00a199;
		}
	}
}
.slide-wrapper{
	display:block;
	width:100%;
	height:100vh;
	#slide-container-fluid{
		padding:0;
		height:100vh;
	}
}
/* Crossfade Carousel*/
#crossCarousel{
	width:100%;
	.carousel-inner,
	.carousel,
	.carousel-item,
	.fill{
		height:100%;
		width:100%;
		background-position:center center;
		background-size:cover;
	}
}
