html,
body{
	height:100%;
	width:100%;
	margin:0;
}
h1{
	font-size:.8rem;
	text-align:center;
}
#top-container{
	min-height:100%;
	padding-bottom:$footer_height;
}
#top-row{
	min-height:100%;
}
.nopadding > div[class^="col"] {
    padding-right:0;
    padding-left:0;
}
#nature-foot-wrap{
	height:$footer_height;
	margin-top:-$footer_height;
}
#nature-foot{
	background-color:$dark_bg;
}
#legal-line{
	text-align:center;
	background-color:$primary;
	color:$dark_txt;
	padding-top:10px;
	padding-bottom:10px;
}
#home-page{
	background-color:$dark_bg;
	.jumbotron{
		padding:0;
		margin:0;
		width:100%;
		img{
			width:100%;
		}
	}
}
#client-spotlight{
	h1{
		padding-top:1%;
		color:$green_txt;
	}
}
#client-logo-img{
	max-width:80%;
	margin:1% auto;
}
#logo-ea{
	filter:brightness(0) invert(1);
}
#nature-exp{
	color:$green_txt;
	padding-top: 4%;
	padding-bottom: 4%;
	ul{
		text-align: center;
		list-style-type: none;
		padding-left: 0px;
	}
	.exp-txt{
		max-width:80%;
		margin:0 auto;
	}
}
#about-page{
	/*
	::-webkit-scrollbar{ 
    	display:none;
	}
	*/
	.content{
		.scrollTo{
			background:$green_bg;
			color:$dark_txt;
			height:100vh;
		}
		.scrollTo:nth-child(odd) {
			background:$dark_bg;
			color:$green_txt;
		}
		.nopadding{
			height:auto;
			img{
				width:100%;
			}
		}
	}
	h2{
		text-align:center;
	}
	img.alignnone{
		margin-left:2%;
		margin-right:2%;
		float:right!important;
	}

}
.about_header{
	margin-top:20%;
	text-align:center;
	text-transform:uppercase;
}
.about_header:after{
    content: ": ";
}
.about_text{
	font-size:1.25rem;
	max-width:85%;
	margin-left:auto;
	margin-right:auto;
}
